<header class="header">
  <div class="header-container">
    <div class="header-major">
      <div class="header-logo">
        <a href="/">Sparkme</a>
      </div>

      <div class="header-user">
        <div class="header-search">
          <app-svg-icon
            class="header-search-icon"
            [svg]="'#icon-search'"
            (click)="searchInputToggle()"></app-svg-icon>
          <input
            class="header-search-input"
            type="text"
            placeholder="Search"
            #searchInput
            [@searchInputState]="searchInputState"
            (keyup.enter)="searchInputOnEnter()"
            (blur)="searchInputOnBlur()">
        </div>

        <div class="header-avater" [appDropdown]="avaterMenu">
          <div class="avatar">
            <img src="https://cdn-images-1.medium.com/fit/c/64/64/1*TEizCLUW2u5y83tEfgXncw.jpeg">
          </div>

          <app-dropdown #avaterMenu>
            <nav>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Sign out</a></li>
            </nav>
          </app-dropdown>
        </div>
      </div>
    </div>

    <nav class="header-minor"></nav>
  </div>
</header>
