@import '~compass-mixins/lib/compass/css3/box-sizing';

@import 'src/assets/styles/abstracts/valiables';

@mixin header-minor($max-width: $main-max-width) {
  :host ::ng-deep app-header .header-minor {
    @include box-sizing(border-box);
    max-width: $max-width;
    margin: 0 auto;
    padding-left: $main-padding;
    padding-right: $main-padding;
  }
}
