@import '~compass-mixins/lib/compass/css3/box-sizing';

@import 'src/assets/styles/abstracts/valiables';

@mixin layout($parent-selector, $sub-selectors, $max-width: $main-max-width) {
  #{$parent-selector} {
    width: 100%;
    min-width: $main-min-width;
  }

  @each $selector-name in $sub-selectors {
    #{$selector-name} {
      @include box-sizing(border-box);
      max-width: $max-width;
      margin: 0 auto;
      padding-left: $main-padding;
      padding-right: $main-padding;
    }
  }
}
