@import '~compass-mixins/lib/compass/css3/box-sizing';

@import 'src/assets/styles/abstracts/valiables';

@mixin layout($class, $class-container) {
  .#{$class} {
    width: 100%;
    min-width: $main-min-width;
  }

  .#{$class-container} {
    @include box-sizing(border-box);
    max-width: $main-max-width;
    margin: 0 auto;
  }
}
