@import '~compass-mixins/lib/compass/css3';

@import 'src/assets/styles/abstracts/valiables';
@import 'src/assets/styles/abstracts/placeholders/position';

:host {
  @extend %position;
}

.app-popup {
  $background-color: hsl(0, 0%, 100%);
  // $point-size: 10px;

  @include border-radius(2px);
  position: relative;
  // margin-top: $point-size;
  margin-top: 5px;
  border: 1px solid $main-border-color;
  background-color: $background-color;

  // &::after {
  //   // @include box-shadow(-1px -1px 0 0 $main-border-color);
  //   @include transform(rotate(45deg));
  //   display: block;
  //   position: absolute;
  //   top: -$point-size / 2;
  //   left: calc(50% - #{$point-size / 2});
  //   z-index: 0;
  //   width: $point-size;
  //   height: $point-size;
  //   background-color: $background-color;
  //   content: '';
  // }

  /deep/ > :nth-child(n) {
    position: relative;
    z-index: 1;
  }
}
