@import '~compass-mixins/lib/compass/css3/border-radius';
@import '~compass-mixins/lib/compass/css3/transform';
// @import '~compass-mixins/lib/compass/css3/box-shadow';

@import '../../styles/valiables';

:host {
  position: absolute;
  top: 100%;
}

.app-dropdown {
  $background-color: hsl(0, 0%, 100%);
  $point-size: 10px;

  @include border-radius(4px);
  position: relative;
  margin-top: $point-size;
  background-color: $background-color;
  border: 1px solid $theme-border-color;

  &:after {
    // @include box-shadow(-1px -1px 0 0px $theme-border-color);
    @include transform(rotate(45deg));
    display: block;
    position: absolute;
    top: -$point-size / 2;
    left: calc(50% - #{$point-size / 2});
    content: '';
    width: $point-size;
    height: $point-size;
    background-color: $background-color;
    z-index: 0;
    box-shadow: -1px -1px 0 0px $theme-border-color;
  }

  /deep/ > :nth-child(n) {
    position: relative;
    z-index: 1;
  }
}
