<div class="navbar">
  <div class="navbar-container">
    <div class="navbar-major">
      <div class="navbar-logo">
        <a href="/">Sparkme</a>
      </div>

      <div class="navbar-user">
        <div class="navbar-search">
          <app-svg-icon class="svg-icon" [draw]="searchIconDraw" (click)="searchInputToggle()"></app-svg-icon>
          <input type="text" placeholder="Search" *ngIf="searchInputShow">
        </div>

        <div class="avatar navbar-avater">
          <img src="https://cdn-images-1.medium.com/fit/c/64/64/1*TEizCLUW2u5y83tEfgXncw.jpeg">
        </div>
      </div>
    </div>

    <div class="navbar-minor"></div>
  </div>
</div>
