@import '~compass-mixins/lib/compass/reset/utilities';
@import '~compass-mixins/lib/compass/css3/user-interface';
@import '~compass-mixins/lib/compass/typography/links';
// @import '~compass-mixins/lib/compass/css3/transition';

@import 'src/assets/styles/abstracts/valiables';

$navbar-height: 65px;

.navbar {
  @include user-select(none);
  width: 100%;
  height: $navbar-height;
  background-color: hsl(0, 0%, 100%);
}

.navbar-container {
  height: 100%;
  max-width: $main-max-width;
  margin: 0 auto;
  padding-left: $main-padding;
  padding-right: $main-padding;
}

.navbar-logo {
  float: left;
  line-height: $navbar-height;
  font-size: 1.75em;
  font-weight: 200;

  a {
    @include unstyled-link;
    @include link-colors($main-color);
  }
}

.navbar-user {
  float: right;
}

.navbar-search {
  float: left;
  height: $navbar-height;
  margin-right: 10px;
  margin-left: 10px;
  line-height: $navbar-height;
}

.navbar-search-icon {
  // @include transition-duration(.1s);
  font-size: 1.5em;
  fill: hsla(0, 0%, 0%, .5);
  transition: fill .1s;

  &:hover .svg-icon {
    fill: hsla(0, 0%, 0%, .1);
  }
}

.navbar-search-input {
  @include reset-focus;
  box-sizing: border-box;
  width: 200px;
  height: $navbar-height;
  vertical-align: top;
  border: 0;
  font-size: .8em;
}

.navbar-avater {
  $avatar-size: 32px;

  float: right;
  width: $avatar-size;
  height: $avatar-size;
  margin-top: ($navbar-height - $avatar-size) / 2;

  .avatar {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
