@import "~compass-mixins/lib/compass/reset/utilities";
@import "~compass-mixins/lib/compass/css3/user-interface";
@import "~compass-mixins/lib/compass/utilities/general/clearfix";
@import "~compass-mixins/lib/compass/typography/links";
// @import "~compass-mixins/lib/compass/css3/transition";

@import "../../styles/valiables";
@import "../../styles/mixins";

$navbar-height: 65px;

.navbar {
  @include user-select(none);

  width: 100%;
  height: $navbar-height;
  background-color: #fff;
}

.navbar-container {
  @include main-max-width;
  height: 100%;
  margin: 0 auto;
  padding-left: $main-padding;
  padding-right: $main-padding;
}

.navbar-logo {
  line-height: $navbar-height;
  float: left;
  font-size: 1.75em;
  font-weight: 200;

  a {
    @include unstyled-link;
    @include link-colors($theme-color);
  }
}

.navbar-user {
  float: right;
  @include clearfix;
}

.navbar-search {
  $search-margin: 10px;

  margin: $search-margin;
  line-height: $navbar-height - $search-margin * 2;
  float: left;
}

.navbar-search-icon {
  // @include transition-duration(.1s);
  transition: fill .1s;
  fill: rgba(0, 0, 0, .5);

  &:hover {
    fill: rgba(0, 0, 0, 1);
  }

  svg {
    line-height: 45px;
  }
}

.navbar-search-input {
  width: 200px;
  height: 2em;
  line-height: 2em;
  font-size: 14px;
  border: none;
  @include reset-focus;
}

.navbar-avater {
  $avatar-size: 32px;

  position: relative;
  top: -50%;
  width: $avatar-size;
  height: $avatar-size;
  margin-top: ($navbar-height - $avatar-size) / 2;
  float: right;
  cursor: pointer;
}
