<div class="navbar">
  <div class="navbar-container">
    <div class="navbar-major">
      <div class="navbar-logo">
        <a href="/">Sparkme</a>
      </div>

      <div class="navbar-user">
        <div class="navbar-search">
          <app-svg-icon
            class="navbar-search-icon"
            [svg]="'#icon-search'"
            (click)="searchInputToggle()"></app-svg-icon>
          <input
            class="navbar-search-input"
            type="text"
            placeholder="Search"
            #searchInput
            [@searchInputState]="searchInputState"
            (keyup.enter)="searchInputOnEnter()"
            (blur)="searchInputOnBlur()">
        </div>

        <div class="navbar-avater" [appDropdown]="avaterMenu">
          <div class="avatar">
            <img src="https://cdn-images-1.medium.com/fit/c/64/64/1*TEizCLUW2u5y83tEfgXncw.jpeg"/>
          </div>

          <app-dropdown #avaterMenu>
            <h1>Heeeeeeeeello</h1>
          </app-dropdown>
        </div>
      </div>
    </div>

    <div class="navbar-minor"></div>
  </div>
</div>
