@import "./valiables";

@mixin theme-background-color {
  background-color: $theme-background-color;
}

@mixin main-max-width {
  max-width: $main-max-width;
}

@mixin input-color {
  color: $input-color;
}
