// Theme color
$theme-color: #234b59;

// Theme background color
$theme-background-color: #fafafa;

// Theme border color
$theme-border-color: rgba(0, 0, 0, .2);

// Main content max width
$main-max-width: 1000px;

// Main padding space
$main-padding: 20px;

// Place holder color
$placeholder-color: #bfbfbf;

// Input text color
$input-color: rgba(0, 0, 0, .8);
