<div class="profile">
  <app-header>
    <div class="profile-header">
      <div class="profile-header-layout">
        <div class="profile-header-container">
          <div class="profile-introduction">
            <div class="profile-avater avatar">
              <img src="assets/images/gx.jpg">
            </div>

            <div class="profile-detail">
              <div class="profile-name">
                ZhouQunying
              </div>
              <div class="profile-description">
                Born for dream.
              </div>
            </div>
          </div>

          <ul class="profile-valuation">
            <li>
              <a href="#">
                <span>30</span>
                <small>印象</small>
              </a>
            </li>
            <li>
              <a href="#">
                <span>9/10</span>
                <small>信用</small>
              </a>
            </li>
            <li>
              <a href="#">
                <span>30K</span>
                <small>喜欢</small>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </app-header>
</div>
