@import '~compass-mixins/lib/compass/utilities/general/clearfix';
@import '~compass-mixins/lib/compass/css3';
@import '~compass-mixins/lib/compass/typography/links/link-colors';

@import 'src/assets/styles/abstracts/valiables';
@import 'src/assets/styles/abstracts/mixins/layout';
@import 'src/assets/styles/components/avatar';

// Valiables
$avatar-size: 100px;

// Layout
@include layout('.profile', '.profile-header, #{$header-minor-selector}', $minor-max-width);

.profile {
  background-color: #fff;
}

.profile-header {
  @include clearfix;
  padding-top: $main-padding;
  padding-bottom: $main-padding;
}

.profile-introduction {
  @include clearfix;
}

.profile-avater {
  width: $avatar-size;
  height: $avatar-size;
  float: left;
}

.profile-detail {
  @include box-sizing(border-box);
  width: calc(100% - #{$avatar-size});
  padding-left: $main-padding;
  float: right;
}

.profile-name {
  @include word-break(break-word);
  line-height: $avatar-size / 2;
  font-weight: 600;
  font-size: 2em;
}

.profile-description {
  line-height: 1.4em;
  font-weight: 200;
  color: $main-dark-gray;
}

.profile-valuation {
  margin-top: $main-margin;

  li {
    @include transition-property(color);
    @include transition-duration($transition-duration);
    @include link-colors($main-dark-gray, $main-link-color);
    float: left;

    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  span {
    display: block;
    padding-bottom: 5px;
    font-weight: 200;
    font-size: 1.2em;
  }

  small {
    font-size: .8em;
    font-weight: 200;
  }
}
