<div class="profile">
  <header class="profile-header">
    <div class="profile-clearfix">
      <div class="profile-avater avatar">
        <img src="assets/images/gx.jpg">
      </div>

      <div class="profile-detail">
        <div class="profile-name">
          ZhouQunying
        </div>
        <div class="profile-description">
          Born for dream.
        </div>
      </div>
    </div>

    <ul class="profile-valuation">
      <li class="profile-valuation-list">
        <a href="#">
          <span>30</span>
          <small>印象值</small>
        </a>
      </li>
      <li class="profile-valuation-list">
        <a href="#">
          <span>30/40</span>
          <small>信用值</small>
        </a>
      </li>
      <li class="profile-valuation-list">
        <a href="#">
          <span>30K</span>
          <small>喜欢</small>
        </a>
      </li>
    </ul>
  </header>
</div>
