/* You can add global styles to this file, and also import other style files */
@import '~compass-mixins/lib/compass/typography/links';

@import 'src/assets/styles/abstracts/valiables';
@import 'src/assets/styles/base/reset';

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  background-color: $main-background-color;
}

a {
  @include unstyled-link;
}

input {
  color: $input-color;

  @include input-placeholder {
    color: $placeholder-color;
    font-style: italic;
    font-weight: 100;
  }
}

nav {
  list-style: none;
}
