// Main content min width
$main-min-width: 320px;

// Main content max width
$main-max-width: 1040px;

// Main padding space
$main-padding: 20px;

// Main theme color
$main-color: hsl(196, 44%, 24%);

// Main background color
$main-background-color: hsl(0, 0%, 98%);

// Main border color
$main-border-color: hsla(0, 0%, 0%, .2);

// Main dark gray
$main-dark-gray: hsl(0, 1%, 66%);

// Input text color
$input-color: hsla(0, 0%, 0%, .8);

// Place holder color
$placeholder-color: hsl(0, 0%, 75%);
