// Screen
$main-screen-md: 768px;

// Space
$main-min-width: 320px;
$main-max-width: 1040px;
$minor-max-width: 640px;
$main-padding: 20px;
$main-margin: 20px;

// Color
$main-color: hsl(196, 44%, 24%);
$main-link-color: hsl(196, 44%, 24%);
$main-background-color: hsl(0, 0%, 95%);
$main-border-color: hsla(0, 0%, 0%, .05);
$main-dark-gray: hsl(0, 1%, 66%);
$input-color: hsla(0, 0%, 0%, .8);
$placeholder-color: hsl(0, 0%, 75%);

// Transition
$transition-duration: .1s;

// Selector
$header-minor-layout: ':host ::ng-deep app-header .header-minor-layout';
