// Theme color
$theme-color: hsl(196, 44%, 24%);

// Theme background color
$theme-background-color: hsl(0, 0%, 98%);

// Theme border color
$theme-border-color: hsla(0, 0%, 0%, .2);

// Main content max width
$main-max-width: 1000px;

// Main padding space
$main-padding: 20px;

// Place holder color
$placeholder-color: hsl(0, 0%, 75%);

// Input text color
$input-color: hsla(0, 0%, 0%, .8);
